/* Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
  radio_coex: radio_coex_three_wire {
    status = "okay";
    compatible = "sdc-radio-coex-three-wire";
    req-gpios =     <&gpio0 3 GPIO_ACTIVE_HIGH>; /* P0.03 */
    pri-dir-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>; /* P0.04 */
    grant-gpios =   <&gpio0 2 GPIO_ACTIVE_HIGH>; /* P0.02 */
    type-delay-us = <8>;
    radio-delay-us = <5>;
    is-rx-active-level = <0>;
    };
};
